a.under:hover{
  text-decoration: underline;
}
.process{
  text-align: center;
}
h3{
  color:red;
}
.image img{
   width:200px;
   height:200px;
}
.carousel-inner img {
  width: 1200px;
  height: 400px;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}